*.egg-info
*.elc
*.less.css
*.po.js
*.styl.css
*.swp
*.zip
*~
.#*
.DS_Store
.buildout
.emacs.d/.autosaves
.emacs.d/.emacs-places
.emacs.d/history
.emacs.d/site/nxhtml
.emacs.d/tramp
.emacs.desktop
.virtualenvs
.zsh/cache
_tmp/
carrierinfo-*/
